.main-wrapper {
    width: 90vw;
    position: relative;
    left: 5vw;
    margin-top: 50px;
    display: flex;
}

.blog-section {
    flex-basis: calc(80% - 30px);
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.post:hover {
    cursor: pointer;
    .post-date {
        transition: .6s;
        opacity: 1;
    }

    .post-image img {
        transition: .6s;
        transform: scale(1.05);
    }
}

.blog-section hr {
    margin: 0 0 60px 0;
    opacity: .5;
    border-radius: 50%;
}
.blog-section hr:last-child {
    display: none;
}

.post-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 600px;
}

.post-image img {
        transition: .6s;
        width: 100%;
        transform: scale(1);
}
.post-image .post-date {
    transition: .6s;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #070506;
    color: #a8948e;
    text-transform: uppercase;
    padding: 2px 13px 3px 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.post-tags {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.post-tag {
    text-transform: uppercase;
    padding: 2px 10px;
    border: 1px solid #a8948e;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.post h3 {
    margin-top: 8px;
}

.post .h4-subtitle-text {
    margin-top: 21px;
}

.post .learn-more-btn {
    margin-top: 35px;
}

.post .learn-more-btn a{
    font-size: 1em;
    font-weight: 500;
    line-height: 1.4em;
}

.title-text, .h4-subtitle-text {
    word-wrap: break-word;
}

.sidebar {
    flex-basis: calc(20% - 30px);
    padding-left: 30px;
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.sidebar h4 {
    margin-bottom: 25px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul a {
    font-size: 1em !important;
    font-weight: 400;
    line-height: 1.1em;
    color: #433e37 !important;
}

.sidebar ul li {
    margin-top: 5px;
}

.sidebar .popular-posts {
    margin-top: 75px;
}

.blog-section .popular-posts h3 {
    margin-bottom: 30px;
}

.sidebar h3 {
    font-size: 1.3em !important;
    margin-top: 15px;
}

.sidebar .post .learn-more-btn a {
    font-size: 0.85em;
    line-height: 1.7em;
}

.sidebar .post .learn-more-btn {
    margin-top: 15px;
}

.main-wrapper {
    margin-bottom: 50px;
}


@media screen and (max-width: 700px) {
    .main-wrapper {
        flex-direction: column;
    }

    .sidebar {
        border: unset;
        padding: unset;
        order: 1;
        margin: 0 0 50px 0;
    }
    .blog-section {
        padding: unset;
        order: 2;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .categories ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }

    .banners {
        margin-bottom: 50px;
    }

    .banners .btn {
        width: 250px;
    }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    .popular-posts {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .popular-posts .post h3 {
        font-size: 1.5em;
    }

    .post {
        flex-basis: calc(50% - 20px);
    }
}